.list {
	visibility: hidden;
	// display: none;
}
// .icon-down {
// 	width: 50px;
// }

.button-down:hover .list {
	visibility: visible;
	cursor: pointer;
}
.list li:hover {
	background-color: gray;
}
